.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 140px;
}

.title {
  text-align: center;
  font-size: 64px;
  margin-bottom: 60px;
}

.text {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 40px;
} 